.board {
  flex: 1;
  background-color: var(--color-board);
  display: flex;
  overflow: scroll;
}

.board__scrollContainer {
  display: block;
}

.board__container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px;
}