.closeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
  background: none;
  color: var(--color-medium-grey);
}

.closeButton:hover {
  color: var(--color-red);
}

.closeButton>svg path {
  transition: all 150ms;
}