.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: all 200ms;
  overflow: hidden;

}

.container--hidden {
  transform: translateX(-300px);
}