.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-interface);
}

.main {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
