.link {
  display: flex;
  width: 276px;
  height: 48px;
  gap: 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0px 100px 100px 0px;
  border: none;
  background: none;
  color: var(--color-medium-gray, #828FA3);
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  transition: all 200ms;
  padding-left: 32px;
  cursor: pointer;
}

.link path {
  transition: all 200ms;
}

.link:hover {
  color: var(--color-purple, #635FC7);
  background: var(--color-nav-hover);
}

.link:hover path {
  fill: var(--color-purple, #635FC7);
}

.link--active {
  background: var(--color-purple, #635FC7);
  color: var(--color-white, #FFF);
}

.link--active path {
  fill: var(--color-white, #FFF);
}

.link--spacial {
  background: none;
  color: var(--color-purple, #635FC7);
}

.link--spacial path {
  fill: var(--color-purple, #635FC7);
}