.sidebar {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--color-interface);
  border-right: 1px solid var(--color-lines);
  position: relative;
}

.sidebar__boardList {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar__title {
  margin: 15px 0 19px 32px;
  color: var(--color-medium-grey, #828FA3);
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.sidebar__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin: 32px 0;
}