.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  height: 40px;
  background-color: var(--color-interface);
  border: solid 1px rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--color-heading);

  /* TODO outline style */
}

.label {
  --color-text: var(--color-heading);
}