@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
  --color-black: #000112;
  --color-white: #ffffff;
  --color-purple: ##635FC7;
  --color-purple-hover: #A8A4FF;
  --color-red: #EA5555;
  --color-hover: #EA5555;
  --color-dark-grey: #2B2C37;
  --color-medium-grey: #828FA3;

  /*  Default */
  --color-board: #20212C;
  --color-interface: #2B2C37;
  --color-lines: #3E3F4E;
  --color-heading: #ffffff;

  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-synthesis: none;
  line-height: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Dark mode */
:root.dark {
  --color-board: #20212C;
  --color-interface: #2B2C37;
  --color-lines: #3E3F4E;
  --color-heading: #ffffff
}

/* Light mode */
:root.light {
  --color-board: #F4F7FD;
  --color-interface: #ffffff;
  --color-lines: #635FC7;
  --color-heading: #000112
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-interface);
}

body {
  box-sizing: inherit;
}

.text {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
}

.text--bold {
  font-size: 12px;
  font-weight: 700;
}

.heading--xl {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-heading);
}

.heading--m {
  font-size: 15px;
  font-weight: 700;
  color: var(--color-heading);
}