:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-synthesis: none;
  line-height: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-black: #000112;
  --color-dark: #20212c;
  --color-light: #f4f7fd;
  --color-white: #ffffff;
  --color-purple: #635fc7;
  --color-purple-hover: #a8a4ff;
  --color-white-purple: #f0effa;
  --color-red: #ea5555;
  --color-red-hover: #ff9898;
  --color-dark-grey: #2b2c37;
  --color-darg-grey-opacity: #2c2c374d;
  --color-medium-grey: #828fa3;
  --color-heavy-grey: #3e3f4e;

  /*  Default */
  --color-board: var(--color-dark);
  --color-interface: var(--color-dark-grey);
  --color-lines: var(--color-heavy-grey);
  --color-heading: var(--color-white);
  --color-nav-hover: var(--color-white);
  --color-text: var(--color-medium-grey);
  --color-secondary-button: var(--color-white);
  --color-new-element: var(--color-darg-grey-opacity);
}

/* Dark mode */
:root.dark {
  --color-board: var(--color-dark);
  --color-interface: var(--color-dark-grey);
  --color-lines: var(--color-heavy-grey);
  --color-heading: var(--color-white);
  --color-text: var(--color-medium-grey);
  --color-nav-hover: var(--color-white);
  --color-secondary-button: var(--color-white);
  --color-new-element: var(--color-darg-grey-opacity);
}

/* Light mode */
:root.light {
  --color-board: var(--color-light);
  --color-interface: var(--color-white);
  --color-lines: var(--color-purple);
  --color-heading: var(--color-black);
  --color-text: var(--color-medium-grey);
  --color-nav-hover: var(--color-white-purple);
  --color-secondary-button: var(--color-white-purple);
  --color-new-element: var(--color-white-purple);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans';
}

#root {
  height: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
  box-sizing: inherit;
}

.text {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  color: var(--color-text);
}

.text--bold {
  font-size: 12px;
  font-weight: 700;
  color: var(--color-text);
}

.heading--xl {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-heading);
}

.heading--l {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-heading);
}

.heading--m {
  font-size: 15px;
  font-weight: 700;
  color: var(--color-heading);
}

.heading--s {
  color: var(--color-heading);
  font-size: 12px;
  font-weight: 700;
}

::placeholder {
  color: rgba(130, 143, 163, 0.25);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: var(--color-board);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-purple);
  border-radius: 5px;
}
